/* main banner + button + functions*/
.banner {
  position: relative;
}
.BannerButton {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  margin-left: 25px;
  background-color: white;
  border-color: white;
}
.BannerButton.active + .dropdown-menu,
.dropdown-menu.active {
  display: flex;
}
.dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: row;
  top: calc(40% + 5px);
  left: 10px;
  background-color: white;
  padding: 10px;
  list-style-type: none;
}
.dropdown-menu li {
  margin-right: 10px;
}
.dropdown-menu a {
  text-decoration: none;
  color: #333;
  font-family: 'Inter', sans-serif;
  margin-left: 20px;
}




/*Main Intro Paragraph*/
.MainText {
    text-align: center;
    width: 100%;
    margin-top: 50px; 
    font-size: 50px;
    font-family: 'Inter', sans-serif;
}




/*Search Textboxes*/
.RSOSearchBox {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}
.CATSearchBox {
  display: flex;
  justify-content: center;
  margin-top: 30px; 
}
.FACSearchBox {
  display: flex;
  justify-content: center;
  margin-top: 30px; 
}
/*Texbox Properties*/
.centered-textbox {
    width: 200px;
}
.TextBoxA {
    padding-left: 20px; /* Adjust the value as needed */
    text-indent: 20px; /* Adjust the value as needed */
}
.TextBoxA[type="text"] {
    width: 50%;
    height: 50px;
    padding: 5px;
    font-size: 22px;
    border: 2px solid lightgray;
    border-radius: 50px; 
    background-color: lightgray;
}
.TextBoxA::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: italic; 
  font-size: 22px;
  color: gray;
  text-indent: 20px; 
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center align items */
}





/*Button + register an RSO below the Search Boxes*/
.BelowSearch {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*Search Button*/
.buttonContainer {
  height: 10px;
  margin-top: 10px; 
}
.Search-Button {
  background-image: url("../../../public/images/Button1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  width: 75px; /* Adjust the width and height based on your image size */
  height: 75px;
  border: none; /* Optional: Remove the button border */
  cursor: pointer; 
  margin-right: 5px;
}
/*Register RSO Text*/
.RegButton {
  margin-right: 5px; /* Adjust the margin to reduce spacing */
  margin-top: 90px;
  background-color: white;
  border-color: white;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  border-radius: 50px;
}
.RegButton:hover {
    /* Styles for hover effect */
    color: red;
  }
