.rso-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}






.RSO {
  width: 80%;
  max-width: 1300px;
  height: 10vh;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 5px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.1s linear; 
}
.RSO:hover {
   /* cursor: pointer;
   transform: scale(1.02); */
   box-shadow: 0 0 35px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3);
   cursor: pointer;
}
.RSO:not(:hover) {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1);
}






.RsoText {
  height: 100%;
}
.LogoParent {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 10px;
}
.Logo {
  background-image: url("../../../public/images/MK.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  /* border-radius: 100px;
  background-color: white; */
  background-position: center;
}
.Title {
  margin-bottom: 5px;
  font-family: 'Inter', sans-serif;
  height: calc(22% - 5px);
}
.Description {
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  height: calc(78% - 10px);
}
.Title h4 {
  margin: 0;
  white-space: nowrap;
}
.Description p {
  margin: 0;
  width: 100%; /* Set a fixed width for the container */
  white-space: normal; /* Allow text to wrap within the container */
  overflow: hidden; /* Hide any content that overflows the container */
  display: -webkit-box; /* Create multi-line layout */
  -webkit-box-orient: vertical; /* Vertical layout of lines */
  max-height: 3.6em; /* Approximate height for 2 lines of text */
  text-overflow: ellipsis; /* Display an ellipsis (...) when content overflows */
}






.LoadButtonContainer {
  margin-top: 40px;
  /* margin-left: 50px; */
}
.LoadButton {
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  padding: 10px 15px;
  margin-left: 9px;
  border-radius: 2px;
  background-color: white;
  border-color: darkblue;
  border-width: 1px;
  cursor: pointer;
}
.LoadButton:hover {
  cursor: pointer;
}

