.rso-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.RSO {
  width: 80%;
  max-width: 1300px;
  height: 10vh;
  margin: 40px;
  padding: 20px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.3);
}
.RSO:hover {
   /* cursor: pointer;
   transform: scale(1.02); */
   transition: all 0.3s linear; 
   box-shadow: 0 0 35px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.3);
}


.Logo {
  background-image: url("../../../public/images/MK.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 25px;
}

.Title {
  margin-bottom: 5px;
}

.Description {
  margin-top: 15px;
}

.Title h4,
.Description p {
  margin: 0;
}
